extends layout_main

block content
	h1 {{ beer.data.name }}
	#bc_components
		bc-color(:beer='beer')
	script var BEER_ID = '!{beer_id}';
	script(type='text/javascript', src='/javascripts/view_beer.js')