extends layout_main

block content
	h1 Beers
	table
		thead
			th(v-for='header in beer_headers') {{ header }}
		tbody
			tr(v-for='beer in beers')
				td(v-for='header in beer_headers')
					input(type='text', v-model='beer.data[header]')
				td
					button(@click='beer.save') save
				td
					button(@click='beer.delete($event, getAllBeers)') delete
				td
					a(href='/beer/{{beer.data._id}}') LINK
	button(@click='createNewBeer') new beer
	script(type='text/javascript', src='/javascripts/view_beercrud.js')
