extends layout_main

block navlinks
	a(href='', class='active') Beer #!{ beer_id }

block content
	#bc-beer(v-cloak)
		.bc-column.left
			h1 {{ beer.data.name }}
			h2 {{ beer.data.style }}
		.bc-column.right
			#bc-components
block footer
	bc-developer-bar(:beer='beer')
block scripts
	script var BEER_ID = '!{ beer_id }';
	script(type='text/javascript', src='/javascripts/view_beer.js')
