extends layout_main

block content
	h1 Beers
	.section
		table(v-cloak)
			thead
				tr
					th(v-for='header in beer_headers') {{ header }}

			tbody
				tr(v-for='beer in beers')
					td(v-for='header in beer_headers')
						input.field(type='text', v-model='beer.data[header]')
					td
						button.field(@click='beer.save') save
					td
						button.field(@click='confirm("delete?", beer.delete, [$event, getAllBeers])') delete
					td
						a(href='/beer/{{beer.data._id}}') GOTO
					td
						div(v-for='component in components' v-if='component.data.beer_id == beer.data._id' style='display:block;') {{ component.data.name }}
							//- TODO: let's make a nice key value selector thing here
							input(type='text', v-model='component.data.data')
							button(@click='component.save') s
							button(@click='component.delete($event, getAllComponents)') x
	.section
		button(v-cloak @click='createNewBeer') new beer
		button(v-cloak @click='saveAllBeers') save all beers
	.section
		form(v-on:submit.prevent='addComponentToBeer')
			select(name='component')
				option(v-for='component in components_list') {{ component }}
			select(name='beer')
				option(v-for='beer in beers' value='{{ beer.data._id }}') {{ beer.data.name }}
			button(type='submit') add
block scripts
	script(type='text/javascript', src='/javascripts/view_beercrud.js')
