doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='/javascripts/jquery.min.js')
		script(type='text/javascript', src='/javascripts/vue.js')
	body
		nav#main_nav
			a(v-for='nav in navigation', href='{{nav.href}}', :class='{active: activePage == nav.href.split("/")[1]}') {{ nav.name }}
		script(type='text/javascript', src='/javascripts/view_main.js')		
		block content

