doctype html
html
	head
		title= title
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(type="text/javascript", src="/javascripts/jquery.min.js")
		script(type="text/javascript", src="/javascripts/vue.js")
		script(type="text/javascript") var DEV = true
	body
		header
			.logo BrewControl
			nav(v-cloak)#main_nav
				a(
					v-for="nav in navigation"
					href="{{nav.href}}"
					:class="{active: activePage == nav.href.split('/')[1]}"
				) {{ nav.name }}
				block navlinks
		#main-container
			block sidebar
			#content
				block content
			block sidebar-right
		footer
			.footer_info <b>BrewControl</b> by Mads Mortensen
		script(type="text/javascript", src="/javascripts/view_main.js")
		script(type="text/javascript") Vue.config.debug = true
		block scripts
