/* TODO: !! most styling is just for testing */
/* UI elements */
body {
  background-color: #F0F0F0;
  font-family: Arial;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #555459;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.logo {
  color: #555459;
  border-bottom: 1px solid #555459;
  border-top: 1px solid #555459;
  height: 2em;
  line-height: 2em;
  margin: 1em 7em 0 1em;
  width: 7em;
  text-align: center;
  display: inline-block;
  float: left; }

html {
  height: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

#main-container {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100%;
  margin-bottom: -7em;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox; }

#content {
  margin: 1.5em 0 4.5em 0;
  display: inline-block;
  float: left;
  flex: 15; }

.beer_list {
  width: 14em;
  position: relative;
  display: inline-block;
  margin-right: 1em;
  z-index: 10; }
  .beer_list .beer_list_beer {
    overflow: hidden;
    cursor: pointer;
    display: block;
    height: 2em;
    line-height: 2em;
    padding: 0 0 0 1em; }
    .beer_list .beer_list_beer.selected, .beer_list .beer_list_beer.selected:hover {
      background-color: #E0DCF5;
      border-right: 4px solid #473E7D;
      color: #473E7D; }
    .beer_list .beer_list_beer:hover {
      background-color: #F5F5F5;
      border-right: 4px solid #DEDEDE; }

.content_header {
  display: block;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-bottom: 1.5em;
  overflow: hidden; }
  .content_header .col {
    flex: 3;
    width: 33.3%;
    display: inline-block;
    float: left;
    overflow: hidden; }
    .content_header .col.right {
      float: right; }
    .content_header .col.center {
      text-align: center; }
      .content_header .col.center .button {
        border: 1px solid #566B73;
        color: #566B73;
        text-decoration: none; }
        .content_header .col.center .button:hover {
          opacity: 0.6; }
  .content_header .button {
    color: #CFCFCF;
    border: 1px solid #DEDEDE;
    font-size: 12px;
    border-radius: 3px;
    display: inline-block;
    line-height: 2em;
    padding: 0 0.3em;
    font-weight: normal;
    cursor: pointer; }
    .content_header .button.right {
      float: right; }
    .content_header .button:hover {
      color: #555459;
      border: 1px solid #555459; }
    .content_header .button:active {
      color: #2AB27B;
      border: 1px solid #2AB27B; }

header {
  height: 4em;
  line-height: 4em;
  background-color: #FFFFFF;
  display: block;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 20; }

.sidebar {
  background-color: #FFFFFF;
  min-height: 100%;
  float: left;
  padding-top: 1em;
  padding-bottom: 7em;
  flex: 0 0 14em;
  position: relative;
  display: inline-block;
  z-index: 5;
  overflow: hidden;
  -webkit-box-shadow: inset -1px 0 0 0 #DEDEDE;
  -moz-box-shadow: inset -1px 0 0 0 #DEDEDE;
  box-shadow: inset -1px 0 0 0 #DEDEDE; }
  .sidebar.hide {
    flex: 0 0 0; }
  .sidebar select {
    border-radius: 0.5em;
    color: #566B73;
    height: 2em;
    font-size: 0.7em; }
  .sidebar h3 {
    display: block;
    margin: 0;
    font-size: 1pc;
    font-weight: normal;
    color: #E7E7E7;
    width: 100%;
    padding-left: 1em;
    padding-bottom: 0.3em; }
  .sidebar h2 {
    font-size: 10pt;
    line-height: 2em;
    height: 2em;
    font-weight: normal;
    padding: 0;
    margin: 0;
    border-top: 1px solid #DEDEDE;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
    color: #566B73;
    opacity: 0.5; }
  .sidebar .sidebar_section {
    width: 14em;
    overflow: hidden;
    padding-bottom: 1em; }
    .sidebar .sidebar_section button {
      margin: 0 0 0.5em 0.5em; }
  .sidebar .content {
    min-height: inherit; }
  .sidebar.right {
    -webkit-box-shadow: inset 1px 0 0 0 #DEDEDE;
    -moz-box-shadow: inset 1px 0 0 0 #DEDEDE;
    box-shadow: inset 1px 0 0 0 #DEDEDE;
    flex: 0 0 25em; }
    .sidebar.right .inner {
      margin-left: 1em;
      margin-right: 1em; }
    .sidebar.right button {
      margin-left: 0;
      margin-right: 0.5em;
      height: 2em; }
    .sidebar.right .sidebar_section {
      width: 25em; }
    .sidebar.right.hide {
      flex: 0 0 0; }
  .sidebar button {
    font-size: 0.7em; }
  .sidebar form {
    margin-bottom: 0.5em; }
    .sidebar form label {
      display: block;
      color: #566B73;
      font-size: 0.5em;
      margin-bottom: 0.5em; }

nav {
  display: inline-block;
  float: left;
  line-height: inherit;
  height: inherit; }
  nav a {
    line-height: inherit;
    height: inherit;
    font-size: 1pc;
    display: inline-block;
    margin: 0;
    padding: 0 2em;
    text-decoration: none;
    color: #566B73; }
    nav a.active, nav a.active:hover {
      -webkit-box-shadow: inset 0 -4px 0 0 #566B73;
      -moz-box-shadow: inset 0 -4px 0 0 #566B73;
      box-shadow: inset 0 -4px 0 0 #566B73; }
    nav a:hover {
      background-color: #F5F9FA; }

footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  line-height: 3em;
  margin-top: -3em;
  background-color: #F3F3F3;
  border-top: 1px solid #DEDEDE;
  display: block; }
  footer .footer_info {
    color: #919191;
    font-size: 12px;
    float: right;
    margin-right: 2em; }

#bc-components {
  overflow: hidden;
  width: 100%;
  min-height: 14em;
  background-color: #FFFFFF; }

.bc-component {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 14em;
  float: right;
  padding: 1em 1em 0 1em; }
  .bc-component.large {
    width: 100%;
    background-color: #FFFFFF; }
  .bc-component:last-child {
    padding-bottom: 1em; }

.component {
  background-color: #FFFFFF;
  border-bottom: 1px solid #566B73;
  color: #566B73;
  font-size: 1em; }
  .component:last-child {
    margin-bottom: 0;
    border-bottom: none; }
  .component .component_label {
    margin: 0.5em; }
    .component .component_label .button {
      display: inline-block;
      float: right;
      color: #566B73;
      font-weight: bold;
      cursor: pointer;
      font-size: 0.8em;
      opacity: 0.5; }
      .component .component_label .button:hover {
        opacity: 1; }
  .component .buttons {
    margin: 0 0.5em 0.5em 0 !important; }

.component-options {
  background-color: #566B73;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 0.5em;
  overflow: hidden; }
  .component-options label {
    display: block;
    margin-bottom: 0.2em; }

.components {
  border: 1px solid #566B73; }
  .components button {
    font-size: 0.7em; }

.component-option {
  display: block;
  padding: 0 10px;
  margin: 0.8em 0; }
  .component-option input {
    width: 100%; }
  .component-option select {
    border-radius: 0.5em;
    color: #566B73;
    height: 3em; }

.bc-column {
  height: 100%;
  width: 50%;
  float: left; }
  .bc-column.small {
    width: 40%; }
  .bc-column.large {
    width: 60%; }

#bc-beer {
  overflow: hidden;
  margin: 0;
  padding: 1.5em; }

.wrapper {
  overflow: hidden;
  margin-bottom: 3em; }

.section {
  margin: 0 1.5em 2em 1.5em;
  padding-bottom: 0.5em; }
  .section h2 {
    font-size: 1em; }
  .section h1 {
    font-size: 2em;
    background-color: #555459;
    color: #FFFFFF;
    font-size: 14pt;
    font-weight: normal;
    border-radius: 4px;
    line-height: 2em;
    height: 2em;
    margin: 0;
    margin-bottom: 1em;
    padding: 0 0.7em; }

.hidden {
  display: none; }

.space_h_small {
  margin: 0;
  padding: 0;
  display: block;
  height: 0.3em; }

.beers {
  overflow: hidden; }
  .beers.full .beer-outer.grid {
    width: 100%; }
    .beers.full .beer-outer.grid .beer {
      margin-left: 0 !important;
      margin-right: 0 !important; }
  .beers .beer-outer {
    width: 100%; }
    .beers .beer-outer.grid {
      width: 50%;
      float: left; }
      .beers .beer-outer.grid .beer {
        border: none; }
      .beers .beer-outer.grid:nth-child(even) .beer {
        margin-left: 0.5em; }
      .beers .beer-outer.grid:nth-child(odd) .beer {
        margin-right: 0.5em; }
    .beers .beer-outer.selected {
      width: 10%; }
    .beers .beer-outer .beer {
      margin-bottom: 1em;
      background-color: #FFFFFF;
      border-radius: 4px;
      overflow: hidden; }
      .beers .beer-outer .beer .header {
        overflow: hidden;
        width: 100%;
        height: 15em;
        background: url("/images/beer_header.jpg");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: 0 5px; }
        .beers .beer-outer .beer .header h2 {
          margin: 0;
          font-size: 1.5em;
          font-weight: normal;
          background-color: #473E7D;
          background: -moz-linear-gradient(left, #473e7d 0%, #4b508e 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(left, #473e7d 0%, #4b508e 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, #473e7d 0%, #4b508e 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#473e7d', endColorstr='#4b508e',GradientType=1 );
          /* IE6-9 */
          padding: 0.5em 0.7em;
          display: block;
          color: #FFFFFF; }
          .beers .beer-outer .beer .header h2 .style {
            font-size: 0.5em; }
        .beers .beer-outer .beer .header .status_bar {
          background-color: rgba(0, 0, 0, 0.3);
          font-size: 1em;
          margin: 0;
          text-align: right;
          height: 2em;
          padding: 0.5em; }
          .beers .beer-outer .beer .header .status_bar .status_text {
            float: right;
            font-weight: bold;
            color: #FFFFFF;
            opacity: 0.8;
            text-transform: uppercase; }
          .beers .beer-outer .beer .header .status_bar .status_icon {
            background-color: #2AB27B;
            opacity: 0.8;
            border-radius: 0.5em;
            width: 1em;
            height: 1em;
            float: right;
            margin-left: 0.5em; }
            .beers .beer-outer .beer .header .status_bar .status_icon.status_0 {
              background-color: #E87474; }
            .beers .beer-outer .beer .header .status_bar .status_icon.status_1 {
              background-color: #E8E474; }
            .beers .beer-outer .beer .header .status_bar .status_icon.status_5 {
              background-color: #EBD057; }
      .beers .beer-outer .beer .field {
        width: 100%;
        border: 1px solid #566B73;
        background-color: #F9F9F9;
        color: #566B73;
        opacity: 0.8;
        margin: 0;
        padding: 0 0.5em 0 0.5em;
        height: 2em;
        font-size: 1em; }
        .beers .beer-outer .beer .field:focus {
          outline: 0; }
      .beers .beer-outer .beer .inner {
        margin: 1em 0; }
      .beers .beer-outer .beer .label {
        padding: 0.2em 0.4em;
        color: #FFFFFF;
        font-size: 13px;
        background-color: #566B73;
        display: inline-block; }
      .beers .beer-outer .beer .buttons {
        display: block;
        overflow: hidden; }
        .beers .beer-outer .beer .buttons button {
          float: right;
          margin-right: 0;
          margin-left: 0.5em; }
      .beers .beer-outer .beer a {
        text-decoration: none;
        color: inherit;
        cursor: pointer; }

.beer_section {
  margin: 0 1em 1em 1em;
  overflow: hidden;
  display: block; }
  .beer_section button {
    float: right;
    margin: 0 0 0 0.5em; }
    .beer_section button.large {
      font-size: 1em; }

/* INPUT */
button {
  border: none;
  border-radius: 0.3em;
  margin: 0 0.5em 0 0;
  height: 2em;
  cursor: pointer;
  padding: 0 1em 2px 1em;
  background-color: #2AB27B;
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  vertical-align: top;
  font-size: 1em; }
  button:hover {
    background-color: #42C993; }
  button:focus {
    outline: 0; }
  button:active {
    padding: 0.1em 1em 0 1em; }
  button.red {
    background-color: #E68585; }
    button.red:hover {
      background-color: #EB9898; }
  button.blue {
    background-color: #2A79B2; }
    button.blue:hover {
      background-color: #3888C2; }

select {
  -webkit-appearance: none;
  border: 1px solid #DEDEDE;
  border-radius: 0;
  padding: 0 1em;
  margin: 0 0.5em 0 0;
  height: 2em;
  cursor: pointer; }

table {
  border-collapse: collapse;
  width: 100%; }
  table input.field {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0 0.5em 0 0.5em;
    height: 2em; }
  table button.field {
    width: 100%; }
  table select.field {
    width: 100%; }

.inactive {
  opacity: 0.3;
  cursor: default; }

.fixed_width_large {
  width: 20em; }

.fixed_width_small {
  width: 3em; }

.fixed_width_medium {
  width: 10em; }

tr {
  border: none;
  width: 100%; }

td, th {
  margin: 0;
  padding: 0.3em;
  vertical-align: top;
  border: none; }

thead th, thead tr {
  border: none;
  text-align: left; }

.component-table {
  margin-bottom: 0.5em;
  padding: 0.5em;
  background-color: #D1E3F0;
  border: 1px solid #B6D0E3;
  color: #87ACC7; }
  .component-table th {
    font-size: 0.5em; }
  .component-table td {
    margin: 0 !important; }
  .component-table tr {
    margin: 0 !important; }
  .component-table input {
    background-color: #F8F8F8; }
  .component-table select {
    border: none;
    height: 2em; }
  .component-table button.field {
    margin-bottom: 0; }
  .component-table.unatatched {
    background-color: #F5DCDC;
    border: 1px solid #EDCACA; }
    .component-table.unatatched:hover {
      background-color: #F5DCDC; }
    .component-table.unatatched th {
      color: #E3B3B3; }
  .component-table.selected-child {
    background-color: #E1F2EC;
    border: 1px solid #CAEBDF; }
    .component-table.selected-child:hover {
      background-color: #E1F2EC; }
    .component-table.selected-child th {
      color: #ABDECC; }

/* Aimation */
.fade-transition {
  transition: all 0.6s ease;
  opacity: 1; }

.fade-enter {
  opacity: 0; }

.fade-leave {
  opacity: 0;
  transition: none; }

.slide-transition {
  transition: flex .3s ease; }

.slide-enter, .slide-leave {
  width: 0; }

/* VUE */
[v-cloak] {
  display: none; }

/* media queries */
