/* TODO: !! most styling is just for testing */
body {
  background-color: #F3F5F6;
  font-family: Arial;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #555459;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.logo {
  color: #555459;
  border-bottom: 1px solid #555459;
  border-top: 1px solid #555459;
  height: 2em;
  line-height: 2em;
  margin: 1em 7em 0 1em;
  width: 7em;
  text-align: center;
  display: inline-block;
  float: left; }

html {
  height: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

#main-container {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100%;
  margin-bottom: -7em;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox; }

#content {
  margin: 1.5em 0 4.5em 0;
  display: inline-block;
  float: left;
  flex: 15; }

.beer_list {
  width: 14em;
  position: relative;
  display: inline-block;
  margin-right: 1em;
  z-index: 10; }
  .beer_list .beer_list_beer {
    overflow: hidden;
    cursor: pointer;
    display: block;
    height: 2em;
    line-height: 2em;
    padding: 0 0 0 1em; }
    .beer_list .beer_list_beer.selected, .beer_list .beer_list_beer.selected:hover {
      background-color: #E1F2EC;
      border-right: 4px solid #2AB27B;
      color: #2AB27B; }
    .beer_list .beer_list_beer:hover {
      background-color: #F2F2F2;
      border-right: 4px solid #DEDEDE; }

.content_header {
  display: block;
  padding-left: 1.5em;
  margin-bottom: 1.5em; }
  .content_header .button {
    color: #CFCFCF;
    border: 1px solid #DEDEDE;
    font-size: 12px;
    border-radius: 3px;
    display: inline-block;
    line-height: 2em;
    padding: 0 0.3em;
    font-weight: normal;
    cursor: pointer; }
    .content_header .button:hover {
      color: #555459;
      border: 1px solid #555459; }
    .content_header .button:active {
      color: #2AB27B;
      border: 1px solid #2AB27B; }

header {
  height: 4em;
  line-height: 4em;
  background-color: #FFFFFF;
  display: block;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 20; }

.sidebar {
  background-color: #FFFFFF;
  min-height: 100%;
  float: left;
  padding-top: 1em;
  padding-bottom: 7em;
  flex: 0 0 14em;
  position: relative;
  display: inline-block;
  z-index: 5;
  overflow: hidden;
  -webkit-box-shadow: inset -1px 0 0 0 #DEDEDE;
  -moz-box-shadow: inset -1px 0 0 0 #DEDEDE;
  box-shadow: inset -1px 0 0 0 #DEDEDE; }
  .sidebar.hide {
    flex: 0 0 0; }
  .sidebar h3 {
    display: block;
    margin: 0;
    font-size: 1pc;
    font-weight: normal;
    color: #E7E7E7;
    width: 100%;
    padding-left: 1em;
    padding-bottom: 0.3em; }
  .sidebar h2 {
    font-size: 10pt;
    line-height: 2em;
    height: 2em;
    font-weight: normal;
    padding: 0;
    margin: 0;
    border-top: 1px solid #DEDEDE;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
    color: #8A5555;
    opacity: 0.5; }
  .sidebar .sidebar_section {
    width: 14em;
    overflow: hidden;
    padding-bottom: 1em; }
    .sidebar .sidebar_section button {
      margin: 0 0 0.5em 0.5em; }
  .sidebar .content {
    min-height: inherit; }

nav {
  display: inline-block;
  float: left;
  line-height: inherit;
  height: inherit; }
  nav a {
    line-height: inherit;
    height: inherit;
    font-size: 1pc;
    display: inline-block;
    margin: 0;
    padding: 0 2em;
    text-decoration: none;
    color: #8A5555; }
    nav a.active, nav a.active:hover {
      -webkit-box-shadow: inset 0 -4px 0 0 #8A5555;
      -moz-box-shadow: inset 0 -4px 0 0 #8A5555;
      box-shadow: inset 0 -4px 0 0 #8A5555; }
    nav a:hover {
      background-color: #FAF5F5; }

footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  line-height: 3em;
  margin-top: -3em;
  background-color: #F3F3F3;
  border-top: 1px solid #DEDEDE;
  display: block; }
  footer .footer_info {
    color: #919191;
    font-size: 12px;
    float: right;
    margin-right: 2em; }

#bc-components {
  overflow: hidden;
  width: 100%;
  min-height: 14em;
  background-color: #FFFFFF; }

.bc-component {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 14em;
  float: right;
  padding: 1em 1em 0 1em; }
  .bc-component.large {
    width: 100%;
    background-color: #FFFFFF; }
  .bc-component:last-child {
    padding-bottom: 1em; }

.component {
  background-color: #FFFFFF;
  border-bottom: 1px solid #8A5555;
  color: #8A5555;
  font-size: 1em; }
  .component:last-child {
    margin-bottom: 0;
    border-bottom: none; }
  .component .component_label {
    margin: 0.5em; }
    .component .component_label .button {
      display: inline-block;
      float: right;
      color: #8A5555;
      font-weight: bold;
      cursor: pointer;
      font-size: 0.8em;
      opacity: 0.5; }
      .component .component_label .button:hover {
        opacity: 1; }
  .component .buttons {
    margin: 0 0.5em 0.5em 0 !important; }

.component-options {
  background-color: #8A5555;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 0.5em;
  overflow: hidden; }
  .component-options label {
    display: block;
    margin-bottom: 0.2em; }

.components {
  border: 1px solid #8A5555; }

.component-option {
  display: block;
  padding: 0 10px;
  margin: 0.8em 0; }
  .component-option input {
    width: 100%; }
  .component-option select {
    border-radius: 0.5em;
    color: #8A5555;
    height: 3em; }

.bc-column {
  height: 100%;
  width: 50%;
  float: left; }
  .bc-column.small {
    width: 40%; }
  .bc-column.large {
    width: 60%; }

#bc-beer {
  overflow: hidden;
  margin: 0;
  padding: 1.5em; }

.wrapper {
  overflow: hidden; }

.section {
  margin: 0 1.5em 2em 1.5em;
  padding-bottom: 0.5em; }
  .section h2 {
    font-size: 1em; }
  .section h1 {
    font-size: 2em;
    background-color: #555459;
    color: #FFFFFF;
    font-size: 14pt;
    font-weight: normal;
    border-radius: 4px;
    line-height: 2em;
    height: 2em;
    margin: 0;
    margin-bottom: 1em;
    padding: 0 0.7em; }

.hidden {
  display: none; }

.space_h_small {
  margin: 0;
  padding: 0;
  display: block;
  height: 0.3em; }

/* INPUT */
button {
  border: none;
  border-radius: 0.3em;
  margin: 0 0.5em 0 0;
  height: 2.5em;
  cursor: pointer;
  padding: 0 1em 2px 1em;
  background-color: #2AB27B;
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  vertical-align: top;
  font-size: 0.7em; }
  button:hover {
    background-color: #42C993; }
  button:focus {
    outline: 0; }
  button:active {
    padding: 0.1em 1em 0 1em; }
  button.red {
    background-color: #E68585; }
    button.red:hover {
      background-color: #EB9898; }

select {
  -webkit-appearance: none;
  border: 1px solid #DEDEDE;
  border-radius: 0;
  padding: 0 1em;
  margin: 0 0.5em 0 0;
  height: 2em;
  cursor: pointer; }

table {
  border-collapse: collapse;
  width: 100%; }
  table input.field {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0 0.5em 0 0.5em;
    height: 2em; }
  table button.field {
    width: 100%; }

.selected-child {
  background-color: #51BF94; }
  .selected-child:hover {
    background-color: #51BF94; }

.unatatched {
  background-color: #F4C2C2; }
  .unatatched:hover {
    background-color: #F4C2C2; }

.inactive {
  opacity: 0.3;
  cursor: default; }

.fixed_width_large {
  width: 20em; }

.fixed_width_small {
  width: 3em; }

.fixed_width_medium {
  width: 10em; }

tr {
  border: none;
  width: 100%; }
  tr:hover {
    background-color: #E0E0E0; }

td, th {
  margin: 0;
  padding: 0.3em;
  vertical-align: top;
  border: none; }

.beer {
  padding: 2em;
  margin-bottom: 1em;
  background-color: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 0px; }
  .beer h2 {
    margin: 0;
    font-size: 2em;
    font-weight: normal;
    background-color: #8A5555;
    padding: 0.5em;
    display: block;
    color: #FFFFFF; }
    .beer h2 .style {
      font-size: 0.5em; }
  .beer input.field {
    width: 100%;
    border: 1px solid #8A5555;
    background-color: #F9F9F9;
    color: #8A5555;
    opacity: 0.8;
    margin: 0;
    padding: 0 0.5em 0 0.5em;
    height: 2em;
    font-size: 1em; }
    .beer input.field:focus {
      outline: 0; }
  .beer .inner {
    margin: 1em 0; }
  .beer .label {
    padding: 0.2em 0.4em;
    color: #FFFFFF;
    font-size: 13px;
    background-color: #8A5555;
    display: inline-block; }
  .beer .buttons {
    display: block;
    overflow: hidden; }
    .beer .buttons button {
      float: right;
      margin-right: 0;
      margin-left: 0.5em; }
  .beer a {
    text-decoration: none;
    color: inherit; }
    .beer a:hover:before {
      content: 'beer page';
      border: 1px solid #FFFFFF;
      padding: 0.7em 0.7em;
      margin: 1em;
      font-size: 0.5em;
      float: right;
      color: #FFFFFF;
      pointer-events: none; }

.beer_section {
  margin-bottom: 1em;
  overflow: hidden;
  display: block; }
  .beer_section button {
    float: right;
    margin: 0 0 0 0.5em; }
    .beer_section button.large {
      font-size: 1em; }
  .beer_section:last-child {
    margin-bottom: 0; }

thead th, thead tr {
  border: none;
  text-align: left; }

thead tr:hover {
  background-color: #F3F5F6; }

/* Aimation */
.fade-transition {
  transition: all 0.6s ease;
  opacity: 1; }

.fade-enter {
  opacity: 0; }

.fade-leave {
  opacity: 0;
  transition: none; }

.beer_header_image {
  width: 100%;
  height: 15em;
  background-size: 100% auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-repeat: no-repeat; }

.slide-transition {
  transition: flex .3s ease;
  width: 100px; }

.slide-enter, .slide-leave {
  width: 0; }

/* VUE */
[v-cloak] {
  display: none; }

/* media queries */
