extends ../layout_main

block content
	.wrapper(
		v-cloak
		v-if="ready" 
		transition="fade"
	)
		.bc-column
			.section
				h1 {{ beerFactory.beer().data.name }}
				h2 {{ beerFactory.beer().data.style }}
		.bc-column
			.section
				#bc-components
					bc-color(
						v-for="component in componentFactory.componentsByType('bc_color')", 
						:component="component", 
						:beer="beerFactory.beer()"
					)
block footer
	bc-developer-bar(:beer="beerFactory.beer")
block scripts
	script var BEER_ID = '!{ beer_id }';
	script(type="text/javascript", src="/javascripts/view_beer.js")
